// This is all HTML elements taken from this resource: https://scotch.io/tutorials/a-look-at-bootstrap-4s-new-reset-rebootcss 

.title
  .title-txt Pognali

.slogan Magic happens here

section.intro
  h2 Table of contents
  ol.intro-contents
    li.intro-items
      a(href='#text') Text
      ul
        li Headings
        li Paragraphs
        li Font sizes
        li Blockquotes
        li Lists
        li Inline elements
        li Horizontal rules
        li Tabular data
        li Code
    li.intro-items
      a(href='#forms') Form elements
      ul
        li Basic fields
        li Select
        li Checkboxes
        li Radio inputs
        li HTML5 inputs
        li Action buttons
    li.intro-items
      a(href='#grid') Grid system
      ul
        li Colums
        li Offsets
    li.intro-items
      a(href='#embedded') Embedded content
      ul
        li Images
        li Audio
        li Video
        li Canvas
        li Meter
        li Progress
        li Inline SVG
        li Iframe
    li.intro-items
      a(href='#other') Other
      ul
        li Lazy loading

section#text.text
  header#bgPrlx.text-header.bgPrlx
    h1#moveTitle.text-h1 Text
  article.text-headings
    h2.text-h2 Headings
    div
      -for(var i=1; i<=6; i++)
        #{'h'+i}= 'Heading ' + i

  article.text-paragraphs
    h2.text-h2 Paragraphs
    div
      h3 Basic paragraph
      p A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
      p A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
    hr
    div
      h3 Truncated paragraph
      p.text-truncated A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
    hr
  article.text-fontSizes
    h2.text-h2 Font sizes
    ul
      li
        h4 Font size 'XL'
        p.text-size--1 A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea.
      li
        h4 Font size 'LG'
        p.text-size--2 A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea.
      li
        h4 Font size 'MD'
        p.text-size--3 A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea.
      li
        h4 Font size 'SM'
        p.text-size--4 A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea.
      li
        h4 Font size 'XS'
        p.text-size--5 A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea.

  article.text-blockquotes
    h2.text-h2 Blockquotes
    div
      blockquote
        p A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text.
        p It is typically distinguished visually using indentation and a different typeface or smaller size quotation. It may or may not include a citation, usually placed at the bottom.
        cite
          a(href='#!') Said no one, ever.

  div.text-innerWrap
    article.text-lists
      h2.text-h2 Lists
      div
        h3 Definition list
        dl
          dt Definition List Title
          dd This is a definition list division.
        h3 Ordered List
        ol
          li List Item 1
          li List Item 2
          li List Item 3
        h3 Unordered List
        ul
          li List Item 1
          li List Item 2
          li List Item 3
        h3 Nested List
        ol
          -for(var i=1; i<=3; i++)
            li= 'List Item ' + i
              ul
                -for(var j=1; j<=3; j++)
                  li= li= 'List Item ' + j

    article.text-inline
      h2.text-h2 Inline elements
      ul
        li.text-links Links
          ul
            li
              a(href='#!') This is a Default text link
            li
              a.disabled(href='#!') This is a Disabled text link
            li
              a.text-link.text-link--toRight(href='#!') This is a Animated Text Underline to Right
            li
              a.text-link.text-link--center(href='#!') This is a Animated Text Underline from Center
            li
              a.text-link.text-link--toLeft(href='#!') This is a Animated Text Underline to Left
            li
              a.text-link.text-link--through(href='#!') This is a Animated Text Underline Through
        li
          strong Strong is used to indicate strong importance.
        li
          em This text has added emphasis.
        li
          | The
          b &thinsp;b element&thinsp;
          | is stylistically different text from normal text, without any special importance.
        li
          | The
          i &thinsp;i element&thinsp;
          | is text that is offset from the normal text.
        li
          | The
          u &thinsp;u element&thinsp;
          | is text with an unarticulated, though explicitly rendered, non-textual annotation.
        li
          del This text is deleted&thinsp;
          | and&thinsp;
          ins This text is inserted 
          | .
        li
          s This text has a strikethrough
          | .
        li
          | Superscript
          sup ®
          | .
        li
          | Subscript for things like H
          sub 2
          | O.
        li
          small This small text is small for for fine print, etc.
        li
          | Abbreviation: 
          abbr(title='HyperText Markup Language') HTML
        li
          q(cite='https://developer.mozilla.org/en-US/docs/HTML/Element/q') This text is a short inline quotation.
        li
          cite This is a citation.
        li
          | The&thinsp;
          dfn dfn element&thinsp;
          | indicates a definition.
        li
          | The&thinsp;
          mark mark element&thinsp;
          | indicates a highlight.
        li
          | The&thinsp;
          var variable element
          | , such as
          var x
          | =
          var y
          | .
        li
          | The time element:&thinsp;
          time(datetime='2013-04-06T12:32+00:00') 2 weeks ago

  article.text-hr
    h2 Horizontal rules
    div
      hr

  article.text-tables
    h2.text-h2 Tabular data
    table#table.text-table
      caption Table Caption
      thead
        tr
          -for(var i=1; i<=5; i++)
            th= 'Table Heading ' + i
      tbody
        -for(var i=0; i<4; i++)
          tr
            -for(var j=1; j<=5; j++)
              td= 'Table Cell ' + j

  article.text-code
    h2.text-h2 Code
    div
      strong Keyboard input: 
      kbd Cmd
    div
      strong Inline code: 
      code &lt;div&gt;code&lt;/div&gt;
    div
      strong Sample output:
      samp This is sample output from a computer program.
    hr
    div
      h3 Pre-formatted text
      pre.
          P R E F O R M A T T E D T E X T
          ! " # $ % & ' ( ) * + , - . /
          0 1 2 3 4 5 6 7 8 9 : ; < = > ?
          @ A B C D E F G H I J K L M N O
          P Q R S T U V W X Y Z [ \ ] ^ _
          ` a b c d e f g h i j k l m n o
          p q r s t u v w x y z { | } ~


section#forms.forms
  header#bgPrlx.forms-header.bgPrlx
    h1#moveTitle.forms-h1 Form elements
  form#form.js-validate(method='post' action='send.php' enctype='multipart/form-data')
    h2.forms-h2 Input fields
    .forms-requiredTxt <b>&#42;</b> Fields marked with an asterisk are required.
    fieldset.forms-inputs
      legend Basic fields
      .forms-inputsGroup
        input#name(type='text' name='name' placeholder='Enter your name' required)
        label.forms-groupTitle(for='name') Your name
        .forms-helpTxt (1-2 words that contains only letters with length two and greater symbols)
      .forms-inputsGroup
        input#password(type='password' name='password' placeholder='Type your Password' required)
        label.forms-groupTitle(for='password') Password
        .forms-helpTxt (Must contain at least 1 uppercase letter, 1 lowercase letter, 1 number and without special characters. Total length must be greater than 6.)
      .forms-inputsGroup
        input#url(type='url' name='url' placeholder='http://yoursite.com' required)
        label.forms-groupTitle(for='url') Web Address
        .forms-helpTxt (Example: http://yoursite.com or yoursite.com)
      .forms-inputsGroup
        input#mail(type='email' name='mail' placeholder='name@email.com' required)
        label.forms-groupTitle(for='mail') Email Address
        .forms-helpTxt (Example: name@email.com)
      .forms-inputsGroup
        input#phone(type='tel' name='phone' placeholder='(XXX) XXX-XX-XX' required)
        label.forms-groupTitle(for='phone') Phone Number
        .forms-helpTxt (Only numbers - length for 10 symbols)
      .forms-inputsGroup
        input#query(type='search' name='query' placeholder='Enter Search Term')
        label(for='query') Search
      .forms-inputsGroup
        textarea#message(name='message' placeholder='Enter your message here')
        label(for='message') Textarea
      .forms-inputsGroup.disabled
        input#text(type='text' placeholder='Disabled Text Input' disabled)
        label.disabled(for='text') Disabled
      .forms-inputsGroup
        input#file(type='file' name='file' placeholder='Enter Search Term')
        label(for='file') Upload a file

    fieldset.forms-select
      legend Select menus
      .forms-selectGroup
        select#select(name='select')
          optgroup(label='Group 1')
            option Option 1.1
            option Option 1.2
            option Option 1.3
          optgroup(label='Group 2')
            option Option 2.1
            option Option 2.2
            option Option 2.3
          optgroup(label='Group 3' disabled)
            option Option 3.1
            option Option 3.2
            option Option 3.3
        label(for='select') Select

    fieldset.forms-checkboxInputs
      legend Checkboxes
      .forms-checkboxGroup
        input#checkboxA(name='checkboxA' type='checkbox' value='A' checked)
        label(for='checkboxA') Choice A
      .forms-checkboxGroup
        input#checkboxB(name='checkboxB' type='checkbox' value='B')
        label(for='checkboxB') Choice B
      .forms-checkboxGroup
        input#checkboxC(name='checkboxC' type='checkbox' value='C')
        label(for='checkboxC') Choice C
      .forms-checkboxGroup.disabled
        input#checkboxDis(name='checkboxDis' type='checkbox' disabled)
        label(for='checkboxDis') Disabled

    fieldset.forms-radioInputs
      legend Radio buttons
      .forms-radioGroup
        input#radio1(name='radio' type='radio' value='radio1' checked)
        label(for='radio1') Option 1
      .forms-radioGroup
        input#radio2(name='radio' type='radio' value='radio2')
        label(for='radio2') Option 2
      .forms-radioGroup
        input#radio3(name='radio' type='radio' value='radio3')
        label(for='radio3') Option 3
      .forms-radioGroup.disabled
        input#radioDis(name='radio' type='radio' value='radioDis' disabled)
        label(for='radioDis') Disabled

    fieldset.forms-html5Inputs
      legend HTML5 inputs
      .forms-html5InputsGroup
        input#color(type='color' name='color' value='#0000ff')
        label(for='color') Color input
      .forms-html5InputsGroup
        input#number(type='number' name='number' min='0' max='100' value='5' step='any' placeholder='Enter a Number' required)
        label.forms-groupTitle(for='number') Number input
        .forms-helpTxt (Must contain only numbers)
      .forms-html5InputsGroup
        input#mobNumber(type='text' value='5' inputmode='numeric' pattern='[0-9]*' name='someNumbers')
        label(for='mobNumber') Number input for mobile devices
      .forms-html5InputsGroup
        input#range(type='range' name='range' value='10')
        label(for='range') Range input
      .forms-html5InputsGroup
        input#date(type='date' name='date' required)
        label.forms-groupTitle(for='date') Date input
        .forms-helpTxt (Only digits in sequence dd/mm/yyyy)
      .forms-html5InputsGroup
        input#month(type='month' value='1970-01')
        label(for='month') Month input
      .forms-html5InputsGroup
        input#week(type='week' value='1970-W01')
        label(for='week') Week input
      .forms-html5InputsGroup
        input#datetime(type='datetime-local' value='1970-01-01T00:00')
        label(for='datetime') Datetime-local input

    fieldset.forms-action
      legend Action buttons
      div.forms-actionGroup
        input(type='submit' value='<input =submit>' onclick='return false;')
        input(type='button' value='<input type=button>')
        input(type='reset' value='<input type=reset>' onclick='return false;')
        input(type='button' value='<input disabled>' disabled)
      hr
      div.forms-actionGroup
        button(type='submit' onclick='return false;') &lt;button type=submit&gt;
        button(type='button') &lt;button type=button&gt;
        button(type='reset' onclick='return false;') &lt;button type=reset&gt;
        button(type='button' disabled) &lt;button disabled&gt;

    div.forms-actionBtns
      button#btnReset.forms-btn.forms-btn--reset(type='reset') Reset
      button.forms-btn.forms-btn--submit(type='submit') Submit
        
  form#form-1.js-validate(method='post' action='send.php')
    fieldset.forms-inputs
      legend Test for validation on second form
      .forms-inputsGroup
        input#name-1(type='text' name='name' placeholder='Enter your name' required)
        label.forms-groupTitle(for='name-1') Your name
        .forms-helpTxt (1-2 words that contains only letters with length two and greater symbols)
      .forms-inputsGroup
        input#password-1(type='password' name='password-1' placeholder='Type your Password' required)
        label.forms-groupTitle(for='password-1') Password
        .forms-helpTxt (Must contain at least 1 uppercase letter, 1 lowercase letter, 1 number and without special characters. Total length must be greater than 6.)
      
    div.forms-actionBtns
      button#btnReset-1.forms-btn.forms-btn--reset(type='reset') Reset'
      button.forms-btn.forms-btn--submit(type='submit') Submit'


section#grid.grid
  header#bgPrlx.grid-header.bgPrlx
    h1#moveTitle.grid-h1 Grid System
  h2.grid-h2 Columns
  .grid-innerWrap
    // Twelwe Columns Per Row
    div.grid-row.grid-row--1
      -for(var i=1; i<=12; i++)
        div= 'Column ' + i
    // Six Columns Per Row
    div.grid-row.grid-row--2
      -for(var i=1; i<=6; i++)
        div= 'Column ' + i
    // Four Columns Per Row
    div.grid-row.grid-row--3
      div Column 1
      div Column 2
      div Column 3
      div Column 4
    // Three Columns Per Row
    div.grid-row.grid-row--4
      div Column 1
      div Column 2
      div Column 3
    // Two Columns Per Row
    div.grid-row.grid-row--5
      div Column 1
      div Column 2
    // One Column Per Row
    div.grid-row.grid-row--6
      div Column 1
    h2.grid-h2 Offsets
    div.grid-row.grid-row--7
      -for(var i=1; i<=11; i++)
        div(class='grid-offset--#{i}')= 'Column ' + i


section#embedded.embedded
  header#bgPrlx.embedded-header.bgPrlx
    h1#moveTitle.embedded-h1 Embedded content
  article.embedded-images
    h2.embedded-h2 Images
    div
      h3
        | No 
        code &lt;figure&gt; 
        | element
      div
        img(src='https://monosnap.com/image/SYvEzyUjgZs6dIevHhZJdJkV7RO972' alt='Image alt text')
    hr
    div
      h3 Broken link in image source
      div
        img(src='Some URL' alt='Image alt text')
    hr
    div.embedded-figureWrap
      div
        h3
          | Wrapped in a 
          code &lt;figure&gt; 
          | element, no 
          code &lt;figcaption&gt;
        figure
          img(src='https://monosnap.com/image/AS4vTixmTENPogVnLIjNFmYXKs6Edf' alt='Image alt text')
      div
        h3
          | Wrapped in a 
          code &lt;figure&gt; 
          | element, with a 
          code &lt;figcaption&gt;
        figure
          img(src='https://monosnap.com/image/bTUIzJ3B3FamafGtSCd2kwkmw3oYwe' alt='Image alt text')
          figcaption Here is a caption for this image.
    hr

  div.embedded-rest
    article.embedded-audio
      h2.embedded-h2 Audio
      div
        audio(controls='') audio

    article.embedded-video
      h2.embedded-h2 Video
      div
        video(controls='') video

    article.embedded-canvas
      h2.embedded-h2 Canvas
      div
        canvas canvas

    article.embedded-meter
      h2.embedded-h2 Meter
      div
        meter(value='2' min='0' max='10') 2 out of 10

    article.embedded-progress
      h2.embedded-h2 Progress
      div
        progress progress

    article.embedded-svg
      h2.embedded-h2 Inline SVG
      div
        svg(width='100px' height='100px')
          circle(cx='100' cy='100' r='100' fill='#1fa3ec')

    article.embedded-iframe
      h2.embedded-h2 IFrame
      div.embedded-iframeWrap
        iframe(src='index.html' height='100%' width='100%' tabindex='-1')


section#other.other
  header#bgPrlx.bgPrlx.other-header
    h1#moveTitle.other-h1 Other content
  article.other-lazy
    h2.other-h2 Lazy loading
    img.js-lazy(data-src='https://monosnap.com/image/AS4vTixmTENPogVnLIjNFmYXKs6Edf' alt='Photo of racing 1')
    img.js-lazy(data-src='https://monosnap.com/image/bTUIzJ3B3FamafGtSCd2kwkmw3oYwe' alt='Photo of racing 2')
    img.js-lazy(data-src='https://monosnap.com/image/DjOLBVPNRfMdxPqPpgDDWFTwKI9FaL' alt='Photo of racing 3')
    img.js-lazy(data-src='https://monosnap.com/image/fhMQ6dSKosb8lwefaNqY0sc8532ygo' alt='Photo of racing 4')
    img.js-lazy(data-src='https://monosnap.com/image/f7fX6h9onp3HS9e198wN5R2jKMdioh' alt='Photo of racing 5')
    img.js-lazy(data-src='https://monosnap.com/image/sP4nuMirlPdCUWJELKCYz20fEqj00f' alt='Photo of racing 6')
    img.js-lazy(data-src='https://monosnap.com/image/xDyAdvobNI1N0pY2JcZlZnxkb2LMwR' alt='Photo of racing 7')
